---
import { storyblokEditable } from '@storyblok/astro';
import AuthorAvatar from './AuthorAvatar.astro';
import AuthorSocial from './AuthorSocial.astro';

const avatar = {
  id: 'upamune',
  name: 'うぱ',
  iconUrl: 'https://i.gyazo.com/00939e43916ec4978c8f418748806484.png',
  social: {
    twitter: {
      url: 'upamune',
    },
  }
};
---

<footer class="author-info"}>
  {avatar.iconUrl && (
    <AuthorAvatar src={avatar.iconUrl} name={avatar.name} />
  )}
  <div class="author-details">
    <h3 class="author-name">{avatar.name}</h3>
    {avatar.social.twitter && <AuthorSocial name={avatar.id} twitter={avatar.social.twitter.url} />}
  </div>
</footer>

<style>
  .author-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0;
    border-top: 1px solid #eee;
  }

  .author-details {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .author-name {
    margin: 0;
    font-size: 1.1rem;
  }
</style>