---
import { Image } from 'astro:assets';
import { storyblokEditable } from '@storyblok/astro';

const { blok } = Astro.props;
---

<footer class="author-info" {...storyblokEditable(blok)}>
  {blok.avatar?.filename && (
    <Image
      src={blok.avatar.filename}
      alt={`${blok.name} avatar`}
      width={48}
      height={48}
      format="webp"
      class="author-avatar"
    />
  )}
  <div class="author-details">
    <h3 class="author-name">{blok.name}</h3>
    {blok.twitter && (
      <a 
        href={`https://twitter.com/${blok.twitter}`}
        target="_blank"
        rel="noopener noreferrer"
        class="social-link"
      >
        @{blok.twitter}
      </a>
    )}
  </div>
</footer>

<style>
  .author-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0;
    border-top: 1px solid #eee;
  }

  .author-details {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .author-name {
    margin: 0;
    font-size: 1.1rem;
  }

  .author-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  .social-link {
    color: var(--color-accent);
    text-decoration: none;
    font-size: 0.9rem;
  }

  .social-link:hover {
    text-decoration: underline;
  }
</style>