---
import { storyblokEditable } from '@storyblok/astro';
import DiaryDate from './DiaryDate.astro';
import DiaryContent from './DiaryContent.astro';
import DiaryImage from './DiaryImage.astro';

const { blok } = Astro.props;
---

<article id="article-content" class="max-w-3xl mx-auto mt-8" {...storyblokEditable(blok)}>
  {blok.image?.filename && (
    <DiaryImage
      src={blok.image.filename}
      alt={blok.image.alt || ''}
    />
  )}
  
  <div class="flex justify-between items-start gap-2 mt-6">
    <DiaryContent date={blok.date} content={blok.content} isDetailPage={true} />
    <DiaryDate date={blok.date} />
  </div>
</article>

<style>
  @media (max-width: 768px) {
    #article-content {
      margin-top: 0;
    }
  }
</style>
